@import "./bootstrap.min.css";
@import "./swiper.min.css";
@import "./all.min.css";

@font-face {
    font-family: 'Louis';
    src: url('../fonts/louis-regular.eot');
/*    src: url('../fonts/louis-regular.woff2') format('woff2'),*/
/*         url('../fonts/louis-regular.woff') format('woff');*/
/*				 url('../fonts/louis-regular.eot?#iefix') format('embedded-opentype'),*/
         
/*         url('../fonts/louis-regular.ttf') format('truetype'),*/
/*         url('../fonts/louis-regular.svg#louisregular') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LouisBold';
    src: url('../fonts/louis-bold.eot');
    src: url('../fonts/louis-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/louis-bold.woff2') format('woff2'),
         url('../fonts/louis-bold.woff') format('woff'),
         url('../fonts/louis-bold.ttf') format('truetype'),
         url('../fonts/louis-bold.svg#louisbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*General style start*/
:root{
	font-size: 62.5%;
}
ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}

a, a:hover, a:active{
	text-decoration: none;
	color: #264773;
}

html {
  font-size: 62.5%;
	font-family: "Louis";
}

body{
	overflow-x: hidden;
	min-height: 100vh;
	color: #264773;
	font-size: 1.6rem;
	font-family: "Louis", sans-serif;
}
html.overflowed,
html.overflowed body{
	overflow-y: hidden;
}
.bg-blue{
	background: #264773;
}
.bg-blue-hover{
	transition: background 0.2s;
}
.bg-blue-hover:hover{
	background: #264773;
}
.z-index-1{
	z-index: 1;
}
.z-index-2{
	z-index: 2;
}
.z-index-3{
	z-index: 3;
}
.z-index-4{
	z-index: 4;
}
.z-index-5{
	z-index: 5;
}
.has-bg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.text-decoration-hover:hover{
	text-decoration: underline;
}
.text-white-hover{
	transition: color 0.2s;
}
.text-white-hover:hover{
	color: #ffffff !important;
}
.default-title{
	font-size: 30px;
	font-weight: 700;
}
.default-title.has-line{
	position: relative;
}
.default-title.has-line::before{
	position: absolute;
	content: "";
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	height: 3px;
	width: 80px;
	background: #264773;
}
.cursor-pointer{
	cursor: pointer;
}
.focus-none{
	outline: none !important;
	box-shadow: none !important;
}
/*General style end*/

header{
	background: linear-gradient(to bottom, rgba(0,0,0, 0.5), transparent);
	z-index: 5;
}
.header-wrapper{
	position: relative;
}
.menu-item{
	position: relative;
}

.menu-item::before{
	position: absolute;
	content: "";
	bottom: 0;
	left: 50%;
	width: 0;
	background: #fff;
	height: 1px;
	transform: translateX(-50%);
	transition: width 0.2s;
}

.main-logo{
	max-width: 130px;
	min-width: 130px;
}

.has-submenu.active{
	background-color: #ffffff;
}
.has-submenu.active > a{
	color: #000 !important;
}
.submenu{
	top: calc(100% + 20px);
	transition: top 0.3s,
							opacity 0.3s;
	pointer-events: none;
	opacity: 0;
}
.submenu::before{
	position: absolute;
	content: "";
	top: -15px;
	left: 0;
	width: 100%;
	height: 20px;
}
.has-submenu.active .submenu{
	top: 100%;
	pointer-events: visible;
	opacity: 1;
}
.sub-company-item span{
	transition: transform 0.2s;
	transform: translateX(0);
}
.sub-company-item:hover span{
	transform: translateX(3px);
}
.company-bg-img:before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom, transparent 40%, rgba(0,0,0, 0.5));
}

.about-company-bg{
	min-height: 70vh;
}
.about-company-bg:before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0,0,0, 0.5) , rgba(0,0,0, 0.5));
}

.selected-lang{
	font-size: 20px;
	line-height: 18px;
}
.lang-group{
	top: calc(100% + 20px);
	width: 100px;
	pointer-events: none;
	opacity: 0;
	transition: all 0.3s;
}
.lang-wrapper:hover .lang-group{
	top: calc(100% + 10px);
	opacity: 1;
	pointer-events: visible;
}
.lang-group .lang-item:hover{
	background-color: rgba(0,0,0, 0.05);
}
.lang-group .lang-item.active{
	background-color: #264773;
	color: #ffffff;
}
.lang-group::before{
	position: absolute;
	content: "";
	top: -5px;
	right: 3px;
	height: 0;
	width: 0;
	border-width: 8px 8px 5px 5px;
	border-color: #ffffff transparent transparent #ffffff;
	border-style: solid;
	border-radius: 3px;
	transform: rotate(45deg);
}
.lang-group::after{
	position: absolute;
	content: "";
	top: -15px;
	left: 0;
	height: 20px;
	width: 100%;
}
/*Header end*/
/*Search start*/
.search-content{
	top: 0;
	z-index: 5;
	padding: 50px 0;
	background-color: rgba(28,53,86, 0.9);
	transform: translateY(-100%);
	transition: transform 0.3s;
}
.search-content.active{
	transform: translateY(0);
}
.search-content .search-input{
	background-color: rgba(255,255,255, 0.1);
	font-size: 20px;
	border: none;
	font-weight: 300;
	border-radius: 0;
}
.search-btn{
	background: rgba(255,255,255, 0.1);
	border-radius: 0;
}
/*Search end*/

.side-contact{
	right: -150px;
	bottom: 30%;
}
.side-contact-item {
    transition: transform 0.3s;
}
.side-contact-item:hover{
		transform: translateX(-150px);
	}

.banner-item{
	height: 100vh;
}
.banner-item-text{
	font-size: 4.1rem;
	font-style: italic;
	font-weight: 500;
	line-height: 45px;
}

.slider-navigation{
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.2s;
}
.slider-navigation > div{
	pointer-events: visible;
}
.banner-carousel:hover .slider-navigation{
	opacity: 1;
}

.gallery-item{
	padding-top: 100%;
}
.gallery-subitem{
	background: rgba(0,0,0, 0.5);
	transition: opacity 0.3s;
	opacity: 0;
}

.gallery-item:hover .gallery-subitem{
	opacity: 1;
}

/*Auto menu start*/
.auto-menu .auto-item{
	position: relative;
	font-size: 20px;
}
.auto-menu .auto-item::before{
	position: absolute;
	content: "";
	bottom: -3px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #264773;
	opacity: 0;
	transition: opacity 0.3s;
}
.auto-menu .auto-item.active::before{	
	opacity: 1;
}
.auto-name,
.auto-price{
	font-size: 30px;
	font-weight: 500;
	font-style: italic;
}
.auto-img-wrapper{
	height: 500px;
}
.selected-auto-img{
	max-width: 1000px;
	transition: none;
	left: 50%;
	top: 50px;
	transform: translateX(-150vw);
	
}
.selected-auto-img.active{
	transform: translateX(-50%);
	transition: transform 0.5s;
}
.selected-auto-img.out{
	transform: translateX(150vw);
	transition: transform 0.5s;
}

.auto-behind{
	height: 200px;
}
.auto-behind::before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background-color: rgba(0,0,0, 0.5);
	height: 100%;
	width: 100%;
}
/*AUto menu end*/

/*Auto tab menu start*/
.auto-tab-item{
	font-size: 20px;
}
.auto-exterier{
	padding-top: 50%;
}
.auto-interier{
	padding-top: 30%;
	min-height: 300px;
}
.auto-technology{
	padding-top: 30%;
	min-height: 200px;
}
/*Auto tab menu end*/

.footer-top{
	background-color: #164D86;
	padding-top: 70px;
	padding-bottom: 50px;
}
.footer-logo{
	width: 150px;
}
.footer-social-item{
	width: 50px;
	height: 50px;
	transition: background 0.2s;
}

.footer-bottom{
	background-color: #113B68;
}

.back-top{
	bottom: 20px;
	right: 30px;
	z-index: 3;
	width: 40px;
	height: 40px;
	opacity: 0;
	font-size: 20px;
	pointer-events: none;
	transition: opacity 0.2s;
}
.back-top.active{
	opacity: 1;
	pointer-events: visible;
}

/*For Header mobile start*/
@media (max-width: 1199px){
	.header-wrapper{
		position: fixed;
		left: 0;
		top: 0;
		height: 100vh;
		background-color: #264773;
		min-width: 320px;
		padding: 30px 15px;
		overflow-y: auto;
		overflow-x: hidden;
		box-sizing: border-box;
		transform: translateX(-350px);
		transition: transform 0.3s;
		z-index: 2;
	}
	.header.open .header-wrapper{
		transform: translateX(0);
	}
	.header-wrapper .has-submenu{
		position: relative;
	}
	.has-submenu .submenu{
		z-index: 1;
	}
	.has-submenu .submenu a{
		text-align: left !important;
	}
	.bg-mask{
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0, 0.7);
		height: 100vh;
		width: 100vw;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s;
	}
	.header.open .bg-mask{
		opacity: 1;
		pointer-events: visible;
	}
	.close-header{
		font-size: 18px;
	}
	
}
/*For Header mobile end*/

@media (max-width: 1399px) and (min-width: 1200px) {
	.menu-group .menu-item{
		font-size: 14px;
	}
	.banner-item{
		height: 70vh;
	}
	
}
@media (max-width: 1199px) and (min-width: 992px) {
	.banner-item{
		height: 60vh;
	}
}
@media (max-width: 991px) and (min-width: 768px) {
	.banner-item{
		height: 40vh;
	}
	.banner-item-text{
		font-size: 3rem;
		line-height: 30px;
	}
	.auto-img-wrapper{
		height: 370px;
	}
}
@media (max-width: 767px) and (min-width: 576px){
	.banner-item{
		height: 40vh;
	}

	.banner-item-text{
		font-size: 2rem;
		line-height: 20px;
	}
	.about-company-bg{
		min-height: 50vh;
	}
	.gallery-item{
		padding-top: 70%;
	}
	
	.auto-img-wrapper{
		height: 300px;
	}
	.auto-tab-item{
		font-size: 12px;
	}
}

@media (max-width: 575px){
	
	.banner-item{
		height: 40vh;
	}
	.banner-item-text{
		font-size: 2rem;
		line-height: 20px;
	}
/*
	.gallery-item{
		padding-top: 70%;
	}
*/
	.about-company-bg{
		min-height: 50vh;
	}

	/*Auto menu start*/
	
	.auto-behind{
		height: 120px;
	}
	.auto-name,
	.auto-price{
		font-size: 20px;
	}
	.auto-img-wrapper{
		height: 250px;
	}

	/*AUto menu end*/
	.auto-tab-item{
		font-size: 12px;
	}

	.footer-top{
		padding-top: 50px;
	}
	.footer-item {
		font-size: 14px;
	}
	.back-top{
		bottom: 10px;
		right: 15px;
	}
}

//For animation on large screen
@media screen and (min-width: 769px){
	.menu-item:hover::before{
		width: 100%;
	}
	
	.auto-menu .auto-item:hover::before{
		opacity: 1;
	}
	.selected-auto-img:hover{
		transform: translateX(-50%) scale(1.05);
	}
	.footer-social-item:hover{
		background-color: rgba(255,255,255, 0.1);
	}
}